GEMINI_API_KEY=AIzaSyDrOw8bhRpCvTaTSzgI7-OWGMnxjRqrhYk
SUPABASE_URL=https://your-jczmjjplvlbtfftutysn.supabase.co/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impjem1qanBsdmxidGZmdHV0eXNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MzI0OTUsImV4cCI6MjA5MDIwODQ5NX0.-BVDVc4iMRu3yJLPvPi__lGCZhJMSDzSpqXABrsASI8